#################################
# 🔴 LOGS
#################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#################################
# 🔴 NODE / FRONTEND
#################################
node_modules/
dist/
dist-ssr/
*.local
.vite/

#################################
# 🔴 .NET / VISUAL STUDIO
#################################
**/bin/
**/obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# EF Core / migrations
*.db
*.sqlite
*.db-wal
*.db-shm

#################################
# 🔴 IDEs
#################################
.vscode/*
!.vscode/extensions.json
.idea/
*.ntvs*
*.njsproj
*.sln

#################################
# 🔴 SISTEMA
#################################
.DS_Store
Thumbs.db

#################################
# 🔴 SECRETS / ENV
#################################
.env
.env.*
!.env.example

#################################
# 🔴 BUILD OUTPUTS
#################################
build/
out/