.sidebar{

    width:260px;

    min-width:260px;

    height:100vh;

    position:sticky;

    top:0;

    background:white;

    border-right:1px solid #ececec;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:30px 22px;
}

.sidebar-logo h2{

    color:#A3C1AD;

    font-size:30px;

    font-weight:700;

    margin-bottom:6px;
}

.sidebar-logo span{

    color:#8a8a8a;

    font-size:14px;
}

.sidebar-nav{

    margin-top:45px;
}

.sidebar-nav ul{

    list-style:none;

    display:flex;

    flex-direction:column;

    gap:10px;
}

.sidebar-nav li{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 18px;

    border-radius:14px;

    cursor:pointer;

    color:#555;

    transition:.25s;
}

.sidebar-nav li:hover{

    background:#eef5f0;

    color:#A3C1AD;
}

.sidebar-nav .active{

    background:#A3C1AD;

    color:white;

    font-weight:600;
}

.logout-btn{

    width:100%;

    border:none;

    background:#f3f3f3;

    border-radius:14px;

    padding:14px;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    transition:.25s;
}

.logout-btn:hover{

    background:#A3C1AD;

    color:white;
}